.register {
    width: 250px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .registerInput {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
  }

  .registerButton {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
  }

  .loginRegisterButton {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
  }

  .wallpaper{
    width: 75%;
    background:
    url("https://fs-prod-cdn.nintendo-europe.com/media/images/10_share_images/games_15/nintendo_switch_4/H2x1_NSwitch_WhoWantsToBeAMillionaire_UK_image1600w.jpg") center;
    display: flex;
    flex-direction: column;
    /* background-repeat: no-repeat; */
  }
  
  .wallpaper::after {
  position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    display: block;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), #020230, transparent 25%);
  }
  
  .wallpaper::before {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    display: block;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #020230, transparent 25%);
  }
  
  .ball {
    position: fixed;
    border-radius: 100%;
    opacity: 0.7;
    display: block;
  }